.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 8fr;
    height: 100%;
    padding: 0 0.7em;
    background-color: var(--black-700);
    position: fixed;
    z-index: 100;
    margin-top: 60px;
    overflow-y: auto;
    width: 250px;

}


.sidebar-item {
    color: rgba(228, 230, 235, 0.959);
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 0.7em;
    text-decoration: none;
    padding-block: 0.25em;
    padding-inline: 0.3em ;
    border-radius: 10px;
    margin-bottom: 0.2em;
    position: relative;
}

.sidebar-item::before {
    content: "";
    width: 7px;
    height: 90%;
    display: none;
    background-color: var(--blue);
    position: absolute;
    left: -6%;
    border-radius: 15px;
}

.sidebar-item.active::before {
    display: block;
}

@media (max-width:850px){
    .sidebar {
        width: 60px;
        background-color: var(--black-400);
        overflow-y: auto;

    }
    .sidebar-item-title{
        display: none;
    }
    .sidebar-item::before {
        width: 6px;
        height: 90%;
        left: -20%;
    }
}

.sidebar-item:hover {
    background-color: var(--black-200);
}

.sidebar-group {
    border-bottom: 1px solid var(--black-200);
    padding-top: 1.1em;
    padding-bottom: 0.3em;
}


.sidebar-item-icon {
    font-size: 17px;
    background-color: var(--black-200);
    padding: 5px 2px;
}

.fa-home {
    color: var(--blue);
    background-color: transparent;

}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.sidebar-item .avatar{
    width: 25px;
    height: 27px;
}

hr {
    border: 0;
    height: 1px;
    width: 30%;
    background: var(--black-200);
}

footer {
    font-weight: 400;
    font-size: 13px;
    color: rgb(176, 179, 184);
    max-width: 250px;
    padding-top: 30px;
}
@media(max-width:750px){
    footer {
        display: none;
    }
}