* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
:root{
    --white:#fff;
    --white-700:rgb(228, 230, 235);
    --black:#000;
    --black-700: #18191A;
    --black-400:#242526;
    --black-200:#63636385;
    --black-100:#3A3B3C;
    --blue:#4292FF;
}
body {
    margin: 0;
    color: var(--white-700);
}
.home-page{
    padding: 0.1px;
    background-color: var(--black-700)
}
.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3.75em;
    margin-left: 430px;
  }
  @media (max-width:850px){
    .content-wrapper {
        margin-left: 120px;
      }
    .chat-sidebar{
        display: none;
    }
}
@media (max-width:600px){
    .content-wrapper {
        margin-inline: 65px;
        grid-template-columns: 1fr;
      }
    .chat-sidebar{
        display: none;
    }
}
